.cardSubscription {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  text-align: start;
  min-height: 180px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.cardTitle {
  font-size: 20px;
  margin-bottom: 8px;
}

.cardFeatures {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
}

/* Styles for small devices (phones) */
@media (max-width: 36rem) {
}

/* Styles for small devices (tablets) */
@media (min-width: 36.063rem) and (max-width: 48rem) {
}

/* Styles for medium devices (laptops and desktops) */
@media (min-width: 48.063rem) and (max-width: 62rem) {
}

/* Styles for large devices (desktops) */
@media (min-width: 62.063rem) and (max-width: 75rem) {
}

/* Styles for extra large devices (large desktops and TVs) */
@media (min-width: 75.063rem) {
}
